<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC  "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.walker.basewf.auth.dao.RoleMenuDao">

    <!-- ============================= INSERT ============================= -->
    <insert id="save" useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO role_menu( id,role_id,menu_id,func_ids,create_user,create_time )
        VALUES ( #{id},#{roleId},#{menuId},#{funcIds},#{createUser},#{createTime})
    </insert>

    <insert id="saveBatch">
        INSERT INTO role_menu( id,role_id,menu_id,func_ids,create_user,create_time )
        VALUES 
        <foreach collection="list" item="item" index="index" separator=",">
            ( #{item.id},#{item.roleId},#{item.menuId},#{item.funcIds},#{item.createUser},#{item.createTime})
        </foreach>
    </insert>

    <!--
    <insert id="saveBatch">
        INSERT INTO role_menu( id,role_id,menu_id,func_ids,create_user,create_time )
        <foreach collection="list" item="item" index="index" separator="UNION ALL">
            SELECT #{item.id},#{item.roleId},#{item.menuId},#{item.funcIds},#{item.createUser},#{item.createTime},#{item.updateTime}
              FROM DUAL 
        </foreach>
    </insert>

    -->

    <!-- ============================= UPDATE ============================= -->
    <update id="update">
        UPDATE role_menu
        <set>
            role_id=#{roleId},
            menu_id=#{menuId},
            func_ids=#{funcIds},
            create_user=#{createUser},
            create_time=#{createTime},
        </set>
        WHERE id=#{id} 
    </update>

    <update id="updateIgnoreNull">
        UPDATE role_menu
        <set>
            <if test="roleId!= null">role_id=#{roleId},</if>
            <if test="menuId!= null">menu_id=#{menuId},</if>
            <if test="funcIds!= null">func_ids=#{funcIds},</if>
            <if test="createUser!= null">create_user=#{createUser},</if>
            <if test="createTime!= null">create_time=#{createTime},</if>
        </set>
        WHERE id=#{id} 
    </update>

    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index"  separator=";">
            UPDATE role_menu
            <set>
                role_id=#{item.roleId},
                menu_id=#{item.menuId},
                func_ids=#{item.funcIds},
                create_user=#{item.createUser},
                create_time=#{item.createTime},
            </set>
            WHERE id=#{item.id} 
        </foreach>
    </update>


    <!-- ============================= DELETE ============================= -->
    <delete id="delete">
        DELETE FROM role_menu
        WHERE id=#{id} 
    </delete>

    <delete id="deleteBatch">
        DELETE FROM role_menu
        WHERE
        <foreach collection="list" item="item" index="index" open="(" separator="OR" close=")">
            id=#{item.id} 
        </foreach>
    </delete>

    <delete id="deleteByPK">
        DELETE FROM role_menu
        WHERE id=#{id} 
    </delete>

    <delete id="deleteAll">
        DELETE FROM role_menu
    </delete>


    <delete id="deleteByMenuId">
        DELETE FROM role_menu
        WHERE menu_id=#{menuId}
    </delete>

    <delete id="deleteByRoleId">
        DELETE FROM role_menu
        WHERE role_id=#{role_Id}
    </delete>

    <delete id="deleteByMenuIds">
        DELETE FROM role_menu
        WHERE
        <foreach collection="list" item="item" index="index" open="(" separator="OR" close=")">
            menu_id=#{item}
        </foreach>
    </delete>

    <delete id="deleteByRoleIds">
        DELETE FROM role_menu
        WHERE
        <foreach collection="list" item="item" index="index" open="(" separator="OR" close=")">
            role_id=#{item}
        </foreach>
    </delete>

    <!-- ============================= SELECT ============================= -->
    <select id="count" resultType="java.lang.Long">
        SELECT COUNT(1) FROM role_menu
    </select>

    <select id="findByPK" resultType="RoleMenu">
        SELECT * FROM role_menu
        WHERE id=#{id} 
    </select>

    <select id="find" resultType="RoleMenu">
        SELECT a.id,a.role_id,a.menu_id,a.func_ids,a.create_user,a.create_time
               ,b.code menu_code, b.name menu_name
        FROM role_menu a, menu b
        WHERE a.menu_id = b.id

        <if test="roleId!= null">
           AND a.role_id = #{roleId}
        </if>
        <if test="menuId!= null">
           AND a.menu_id = #{menuId}
        </if>
        <if test="funcIds!= null">
           AND a.func_ids = #{funcIds}
        </if>
        <if test="createUser!= null">
           AND a.create_user = #{createUser}
        </if>
        <if test="createTime!= null">
           AND a.create_time = #{createTime}
        </if>
        <if test="updateTime!= null">
           AND a.update_time = #{updateTime}
        </if>

    </select>

</mapper>
