<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC  "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.walker.basewf.auth.dao.RoleDao">

    <!-- ============================= INSERT ============================= -->
    <insert id="save" useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO role( id,name,remark,can_view_all,create_user,create_time,update_time )
        VALUES ( #{id},#{name},#{remark},#{canViewAll},#{createUser},#{createTime},#{updateTime})
    </insert>


    <insert id="saveBatch">
        INSERT INTO role( id,name,remark,can_view_all,create_user,create_time,update_time )
        VALUES 
        <foreach collection="list" item="item" index="index" separator=",">
            ( #{item.id},#{item.name},#{item.remark},#{item.canViewAll},#{item.createUser},#{item.createTime},#{item.updateTime} )
        </foreach>
    </insert>

    <!--
    <insert id="saveBatch">
        INSERT INTO role( id,name,remark,create_user,create_time,update_time )
        <foreach collection="list" item="item" index="index" separator="UNION ALL">
            SELECT #{item.id},#{item.name},#{item.remark},#{item.createUser},#{item.createTime},#{item.updateTime} 
              FROM DUAL 
        </foreach>
    </insert>

    -->

    <!-- ============================= UPDATE ============================= -->
    <update id="update">
        UPDATE role
        <set>
            name=#{name},
            remark=#{remark},
            can_view_all=#{canViewAll},
            create_user=#{createUser},
            create_time=#{createTime},
            update_time=#{updateTime},
        </set>
        WHERE id=#{id} 
    </update>

    <update id="updateIgnoreNull">
        UPDATE role
        <set>
            <if test="name!= null">name=#{name},</if>
            <if test="remark!= null">remark=#{remark},</if>
            <if test="canViewAll!= null">can_view_all=#{canViewAll},</if>
            <if test="createUser!= null">create_user=#{createUser},</if>
            <if test="createTime!= null">create_time=#{createTime},</if>
            <if test="updateTime!= null">update_time=#{updateTime},</if>
        </set>
        WHERE id=#{id} 
    </update>

    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index"  separator=";">
            UPDATE role
            <set>
                name=#{item.name},
                remark=#{item.remark},
                can_view_all=#{item.canViewAll},
                create_user=#{item.createUser},
                create_time=#{item.createTime},
                update_time=#{item.updateTime},
            </set>
            WHERE id=#{item.id} 
        </foreach>
    </update>


    <!-- ============================= DELETE ============================= -->
    <delete id="delete">
        DELETE FROM role
        WHERE id=#{id} 
    </delete>

    <delete id="deleteBatch">
        DELETE FROM role
        WHERE
        <foreach collection="list" item="item" index="index" open="(" separator="OR" close=")">
            id=#{item.id} 
        </foreach>
    </delete>

    <delete id="deleteByPK">
        DELETE FROM role
        WHERE id=#{id} 
    </delete>

    <delete id="deleteAll">
        DELETE FROM role
    </delete>


    <!-- ============================= SELECT ============================= -->
    <select id="count" resultType="java.lang.Long">
        SELECT COUNT(1) FROM role
    </select>

    <select id="findByPK" resultType="Role">
        SELECT * FROM role
        WHERE id=#{id} 
    </select>

    <select id="findByUK" resultType="Role">
        SELECT * FROM role
        WHERE name=#{name}
    </select>

    <select id="find" resultType="Role">
        SELECT id,name,remark,can_view_all,create_user,create_time,update_time
         FROM role
        <where>
            <if test="id!= null">
               AND id = #{id}
            </if>
            <if test="name!= null">
               AND name like #{name}
            </if>
            <if test="remark!= null">
               AND remark = #{remark}
            </if>
            <if test="createUser!= null">
               AND create_user = #{createUser}
            </if>
            <if test="createTime!= null">
               AND create_time = #{createTime}
            </if>
            <if test="updateTime!= null">
               AND update_time = #{updateTime}
            </if>
        </where>
    </select>

</mapper>
