<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC  "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.walker.basewf.auth.dao.UserRoleDao">

    <!-- ============================= INSERT ============================= -->
    <insert id="save" useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO user_role( id,user_id,role_id, create_user,create_time )
        VALUES ( #{id},#{userId},#{roleId}#{createUser},#{createTime} )
    </insert>



    <insert id="saveBatch">
        INSERT INTO user_role( id,user_id,role_id, create_user,create_time )
        VALUES 
        <foreach collection="list" item="item" index="index" separator=",">
            ( #{item.id},#{item.userId},#{item.roleId},#{item.createUser},#{item.createTime})
        </foreach>
    </insert>



    <!--
    <insert id="saveBatch">
        INSERT INTO user_role( id,user_id,role_id )
        <foreach collection="list" item="item" index="index" separator="UNION ALL">
            SELECT #{item.id},#{item.userId},#{item.roleId} 
              FROM DUAL 
        </foreach>
    </insert>

    -->

    <!-- ============================= UPDATE ============================= -->
    <update id="update">
        UPDATE user_role
        <set>
            user_id=#{userId},
            role_id=#{roleId},
            create_user=#{createUser},
            create_time=#{createTime},
        </set>
        WHERE id=#{id} 
    </update>

    <update id="updateIgnoreNull">
        UPDATE user_role
        <set>
            <if test="userId!= null">user_id=#{userId},</if>
            <if test="roleId!= null">role_id=#{roleId},</if>
            <if test="createUser!= null">create_user=#{createUser},</if>
            <if test="createTime!= null">create_time=#{createTime},</if>
        </set>
        WHERE id=#{id} 
    </update>

    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index"  separator=";">
            UPDATE user_role
            <set>
                user_id=#{item.userId},
                role_id=#{item.roleId},
                create_user=#{item.createUser},
                create_time=#{item.createTime},
            </set>
            WHERE id=#{item.id} 
        </foreach>
    </update>


    <!-- ============================= DELETE ============================= -->
    <delete id="delete">
        DELETE FROM user_role
        WHERE id=#{id} 
    </delete>

    <delete id="deleteBatch">
        DELETE FROM user_role
        WHERE
        <foreach collection="list" item="item" index="index" open="(" separator="OR" close=")">
            id=#{item.id} 
        </foreach>
    </delete>

    <delete id="deleteByPK">
        DELETE FROM user_role
        WHERE id=#{id} 
    </delete>

    <delete id="deleteAll">
        DELETE FROM user_role
    </delete>


    <delete id="deleteByUserId">
        DELETE FROM user_role
        WHERE user_id=#{userId}
    </delete>

    <delete id="deleteByRoleId">
        DELETE FROM user_role
        WHERE role_id=#{roleId}
    </delete>

    <delete id="deleteByUserIds">
        DELETE FROM user_role
        WHERE
        <foreach collection="list" item="item" index="index" open="(" separator="OR" close=")">
            user_id=#{item}
        </foreach>
    </delete>

    <delete id="deleteByRoleIds">
        DELETE FROM user_role
        WHERE
        <foreach collection="list" item="item" index="index" open="(" separator="OR" close=")">
            role_id=#{item}
        </foreach>
    </delete>

    <!-- ============================= SELECT ============================= -->
    <select id="count" resultType="java.lang.Long">
        SELECT COUNT(1) FROM user_role
    </select>

    <select id="findByPK" resultType="UserRole">
        SELECT * FROM user_role
        WHERE id=#{id} 
    </select>

    <select id="find" resultType="UserRole">
        SELECT id,user_id,role_id
         FROM user_role
        <where>
            <if test="id!= null">
               AND id = #{id}
            </if>
            <if test="userId!= null">
               AND user_id = #{userId}
            </if>
            <if test="roleId!= null">
               AND role_id = #{roleId}
            </if>
        </where>
    </select>

</mapper>
