<?xml version="1.0" encoding="UTF-8"?>
<!-- n秒检测一次配置改动 -->
<configuration status="error" monitorInterval="30">

    <appenders>
        <Console name="console" target="SYSTEM_OUT">
            <ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="[%level][%d{yyyy-MM-dd'T'HH:mm:ss.SSS}][%c{-3}:%M:%L] %msg%xEx{full}%n"/>
        </Console>

        <!-- 只记录info及以上的信息 -->
        <File name="file" fileName="${sys:catalina.home}/logs/ssm.log" append="true">
            <PatternLayout pattern="[%level][%d{yyyy-MM-dd'T'HH:mm:ss.SSS}][%c{36}:%M:%L] %msg%xEx{full}%n"/>
            <Filters>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </File>

        <!-- 只记录debug及以上的信息 -->
        <File name="debugfile" fileName="${sys:catalina.home}/logs/ssm.debug.log" append="true">
            <PatternLayout pattern="[%level][%d{yyyy-MM-dd'T'HH:mm:ss.SSS}][%c{-3}:%M:%L] %msg%xEx{full}%n"/>
        </File>

    </appenders>

    <loggers>
        <Logger name="org.sample.ssm" level="debug" additivity="false">
            <appender-ref ref="console"/>
            <appender-ref ref="debugfile"/>
            <appender-ref ref="file"/>
        </Logger>

        <root level="info">
            <appender-ref ref="console"/>
            <appender-ref ref="file"/>
        </root>
    </loggers>
</configuration>