<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC  "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.walker.basewf.auth.dao.RoleProdDao">

    <!-- ============================= INSERT ============================= -->
    <insert id="save" useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO role_prod( id,role_id,prod_code,prod_name,create_user,create_time )
        VALUES ( #{id},#{roleId},#{prodCode},#{prodName},#{createUser},#{createTime})
    </insert>



    <insert id="saveBatch">
        INSERT INTO role_prod( id,role_id,prod_code,prod_name,create_user,create_time )
        VALUES 
        <foreach collection="list" item="item" index="index" separator=",">
            ( #{item.id},#{item.roleId},#{item.prodCode},#{item.prodName},#{item.createUser},#{item.createTime} )
        </foreach>
    </insert>


    <!--
    <insert id="saveBatch">
        INSERT INTO role_prod( id,role_id,prod_code,create_user,create_time )
        <foreach collection="list" item="item" index="index" separator="UNION ALL">
            SELECT #{item.id},#{item.roleId},#{item.prodCode},#{item.prodName},#{item.createUser},#{item.createTime} 
              FROM DUAL 
        </foreach>
    </insert>

    -->

    <!-- ============================= UPDATE ============================= -->
    <update id="update">
        UPDATE role_prod
        <set>
            role_id=#{roleId},
            prod_code=#{prodCode},
            prod_name=#{prodName},
            create_user=#{createUser},
            create_time=#{createTime},
        </set>
        WHERE id=#{id} 
    </update>

    <update id="updateIgnoreNull">
        UPDATE role_prod
        <set>
            <if test="roleId!= null">role_id=#{roleId},</if>
            <if test="prodCode!= null">prod_code=#{prodCode},</if>
            <if test="prodName!= null">prod_name=#{prodName},</if>
            <if test="createUser!= null">create_user=#{createUser},</if>
            <if test="createTime!= null">create_time=#{createTime},</if>
        </set>
        WHERE id=#{id} 
    </update>

    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index"  separator=";">
            UPDATE role_prod
            <set>
                role_id=#{item.roleId},
                prod_code=#{item.prodCode},
                prod_name=#{item.prodName},
                create_user=#{item.createUser},
                create_time=#{item.createTime},
            </set>
            WHERE id=#{item.id} 
        </foreach>
    </update>


    <!-- ============================= DELETE ============================= -->
    <delete id="delete">
        DELETE FROM role_prod
        WHERE id=#{id} 
    </delete>

    <delete id="deleteBatch">
        DELETE FROM role_prod
        WHERE
        <foreach collection="list" item="item" index="index" open="(" separator="OR" close=")">
            id=#{item.id} 
        </foreach>
    </delete>

    <delete id="deleteByPK">
        DELETE FROM role_prod
        WHERE id=#{id} 
    </delete>

    <delete id="deleteAll">
        DELETE FROM role_prod
    </delete>


    <delete id="deleteByRoleId">
        DELETE FROM role_prod
        WHERE role_id=#{roleId}
    </delete>

    <!-- ============================= SELECT ============================= -->
    <select id="count" resultType="java.lang.Long">
        SELECT COUNT(1) FROM role_prod
    </select>

    <select id="findByPK" resultType="RoleProd">
        SELECT * FROM role_prod
        WHERE id=#{id} 
    </select>

    <select id="find" resultType="RoleProd">
        SELECT id,role_id,prod_code,prod_name,create_user,create_time
         FROM role_prod
        <where>
            <if test="id!= null">
               AND id = #{id}
            </if>
            <if test="roleId!= null">
               AND role_id = #{roleId}
            </if>
            <if test="prodCode!= null">
               AND prod_code = #{prodCode}
            </if>
            <if test="createUser!= null">
               AND create_user = #{createUser}
            </if>
            <if test="createTime!= null">
               AND create_time = #{createTime}
            </if>
        </where>
    </select>

</mapper>
