<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
            http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <display-name>ssm</display-name>

    <!-- 为ContextLoaderListener 指定加载的配置文件 -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:env-config.xml, classpath:spring.xml
        </param-value>
    </context-param>

    <context-param>
        <param-name>spring.profiles.active</param-name>
        <param-value>${profiles.activation}</param-value>
    </context-param>

    <!-- ContextLoaderListener 用于加载spring的其它配置文件 -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!-- Introspector内省缓存清除监听器,防止内存泄露-->
    <!--<listener>-->
    <!--<listener-class>-->
    <!--org.springframework.web.util.IntrospectorCleanupListener-->
    <!--</listener-class>-->
    <!--</listener>-->

    <!-- DispatcherServlet从WEB-INF下加载  springmvc-servlet.xml-->
    <servlet>
        <!-- 默认加载servletname-servlet.xml文件,或者添加指定配置init-param/param-name/contextConfigLocation-->
        <servlet-name>springmvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>springmvc</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>


    <filter>
        <filter-name>sessionFilter</filter-name>
        <filter-class>org.sample.ssm.web.filter.SessionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>sessionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter
        </filter-class>
        <init-param>
            <!-- 等价于ServletRequest.setCharacterEncoding(java.lang.String) -->
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <!-- 追加设置ServletResponse的编码格式同ServletRequest的编码格式一致
                即response.setCharacterEncoding(“XXXX”),认值为false -->
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>XssSqlFilter</filter-name>
        <filter-class>org.sample.ssm.web.filter.XssFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>XssSqlFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>CORSFilter</filter-name>
        <filter-class>org.sample.ssm.web.filter.CORSFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CORSFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/error/error-404.html</location>
    </error-page>


    <!-- 配置session超时时间，单位分钟 -->
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <!-- 访问根目录时采用欢迎界面路径 -->
    <!--<welcome-file-list>-->
    <!--<welcome-file>index.jsp</welcome-file>-->
    <!--</welcome-file-list>-->

    <!-- 错误跳转页面 -->
    <!--<error-page>-->
    <!--&lt;!&ndash; 路径不正确 &ndash;&gt;-->
    <!--<error-code>404</error-code>-->
    <!--<location>/WEB-INF/errorpage/404.jsp</location>-->
    <!--</error-page>-->
    <!--<error-page>-->
    <!--&lt;!&ndash; 没有访问权限，访问被禁止 &ndash;&gt;-->
    <!--<error-code>405</error-code>-->
    <!--<location>/WEB-INF/errorpage/405.jsp</location>-->
    <!--</error-page>-->
    <!--<error-page>-->
    <!--&lt;!&ndash; 内部错误 &ndash;&gt;-->
    <!--<error-code>500</error-code>-->
    <!--<location>/WEB-INF/errorpage/500.jsp</location>-->
    <!--</error-page>-->

</web-app>
